@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .content {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    font-size: 110%;
    letter-spacing: 0.5px;
    text-align: justify;
    line-height: 1.7;
  }

  /* remove tailwind styles and use markdown styles */
  .markdown > * {
    all: revert;
  }
}
